@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/helvetica_bold.otf') format('otf');
}
@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/helvetica_regular.otf') format('otf');
}
@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/helvetica_light.otf') format('otf');
}

.container {
	max-width: 1920px;
	width: 100%;
	padding-inline: 20px;
	margin-inline: auto;
}

* {
	color: var(--text-color);
	position: relative;
	font-family: 'Helvetica';
	line-height: 125%;
	letter-spacing: normal;
	color: #fff;
	font-weight: 400;

	@include fluid-text(16, 14);
}
html {
	scrollbar-gutter: stable;
	height: auto;
	scroll-behavior: smooth;
}

body {
	font-family: 'Helvetica';
	scrollbar-gutter: stable;
	font-weight: 400;
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #111111;

	&.fixed {
		overflow: hidden;
	}

	@include fluid-text(20, 20);
}

.button {
	padding: 12px 24px;
	border-radius: 30px;
	width: fit-content;
	border: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;

	@include fluid-text(16, 14);

	@include hover {
		color: #ffffffc0;
	}

	@include mobile {
		padding: 10px 20px ;
	}
}

.controls {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	pointer-events: none;

	button {
		pointer-events: ALL;
		width: 30px;
		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
		&:last-child {
			img {
				transform: rotate(180deg);
			}
		}
	}
}
dialog[open] {
    animation: fade-in 500ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
